.git/
node_modules/
build/
lib/
env/
docs/
docker/
__tests
*.log
.gcloudignore
.gitignore
Dockerfile
docker-compose.yml
*-firebase-adminsdk-*.json
.terraform
terraform/
tmp/
*.env
.devcontainer/
.github/
.vscode/
.nx/